.hugemce-snooker-resizer-bar {
  background-color: #500;
  opacity: 0.0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hugemce-snooker-resizer-cols {
  cursor: col-resize;
}

.hugemce-snooker-resizer-rows {
  cursor: row-resize;
}

.hugemce-snooker-resizer-bar.hugemce-snooker-resizer-bar-dragging {
  opacity: 0.2;
}